:root {
    --nav-item-size: 48px;
    --nav-item-multiplier: 155%;
}

@font-face {
    font-family: "Linebeam";
    src: url('assets/fonts/Linebeam.ttf');
}

@font-face {
    font-family: "F25_Bank_Printer";
    src: url('assets/fonts/F25_Bank_Printer.ttf');
}

* {
    font-family: "F25_Bank_Printer";
}

body {
    position: relative;

    margin: 0;
    border: 0;
    background-color: beige;
    background-image: url("assets/images/pixelCity2.webp");
    z-index: 0;
}

